$main: hsl(43, 100%, 49%);
$accent: hsl(0, 0%, 100%);
$bg-color: hsl(0, 0%, 97%);
$bg-color-off: hsl(0, 0%, 94%);
$dark-bg: hsla(0, 0%, 0%, 0.4);
$dark-bg-off: hsla(0, 0%, 0%, 0.2);
$light-bg: hsla(0, 0%, 100%, 0.86);
$social-icons: hsl(256, 36%, 41%);
